<div>
  <h2 style="margin: auto">User Details</h2>
  <table>
    <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of Users">
        <td>{{user.id}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.password}}</td>
        <td><button class="" (click)="deleteUser(user)">Delete</button></td>
        <td><button class="" (click)="editUser(user)" style="margin-left: 20px;">Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>